
body {
    background-image: url("../images/gravel.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
}

.wrapper{
    min-height: calc(100vh - 96px);
}

header{
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    min-width: 960px;
}

.headerContainer {
    margin: auto;
    width: 960px;
    height: 100%;
}

.yourNameSection{
    float: left;
    height: 100%;
    line-height: 20px;
    background-color: #4aaaa5;
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    padding: 0px 30px 0px 30px;

}

.navLinks {
    float: right;
    line-height: 70px;
}

.navLinks a {
    border-right: 1px solid #cccccc;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #777777;
    margin-left: -5px;
}

.navLinks a:hover{
    background-color: #4aaaa5;
    color: white;
}

.navLinks a:last-child{
    border-right: none;
}

.mainContent {
    margin: 40px auto 40px auto;
    width: 920px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mainContentHeader {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 0px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
}

.myPic {
    float: left;
    width: 150px;
    height: 150px;
    padding-right: 15px;
}

footer {
    background-color: #666666;
    height: 50px;
    text-align: center;
    border-top: 6px solid #4aaaa5;
    min-width: 960px;
    color: white;
    font-size: 12px;
}

.copyRight {
    padding-top: 15px;
}

.labelInputPair {
    padding-top: 10px;
}

.labelInputPair input, .labelInputPair textarea{
    width: 100%;
    border: 1px solid #cccccc;
    margin: 8px 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    padding: 10px 15px;
    box-sizing: border-box;
}

.labelInputPair textarea{
    height: 150px;
}

.buttonDiv {
    padding-top: 10px;
}

.buttonDiv input[type="submit"] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}